#Ignore python virtual envs
prat/
.prat/
infra_cli.egg-info/

# Byte-compiled files
__pycache__/
*.py[cod]

# Output & log files
output/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Virtual Environment
.venv/
venv/

# AWS credentials and config
.aws/
aws-credentials.json

# IDE settings
.vscode/
.idea/

# Environment variables
.env
.env.*
