apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{ cluster.name }}
  region: {{ account.region }}
  version: "{{ cluster.version }}"
  tags:
    environment: {{ account.environment }}
    owner: {{ email.to }}

nodeGroups:
{% for node in nodeGroups %}
  - name: {{ node.name }}
    instanceType: {{ node.instanceType }}
    desiredCapacity: {{ node.desired }}
    minSize: {{ node.min }}
    maxSize: {{ node.max }}
    {% if node.subnets %}
    subnets: {{ node.subnets }}
    {% endif %}
    labels:
      {% for key, value in node.labels.items() %}
      {{ key }}: {{ value }}
      {% endfor %}
{% endfor %}

cloudWatch:
  clusterLogging:
    enableTypes:
      - api
      - audit
      - authenticator
      - controllerManager
      - scheduler

iam:
  withOIDC: true